{% extends "admin/change_form.html" %}
{% load i18n statcollector_elems %}

{% block content_title %}{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <fieldset class="module aligned">
        <table style="width:100%; border: 0 none;">
            <tbody>
                {% if original.is_diagram %}
                    <tr>
                        <td style="width:100%">
                            <div id="graph-{{ original.id }}" style="width:100%; height: 300px; margin-bottom: 2em;">
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if original.is_table %}
                    <tr>
                    <td>
                        {% report_table original.get_metrics metrics_table %}
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for col in metrics_table.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in metrics_table.rows|dictsortreversed:"title" %}
                                    <tr>
                                        <th>{{ row.title|date:"d.m.y H:i:s" }}</th>
                                        {% for cell in row.cells %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% if original.is_diagram %}
            <script id="source">
                $(function () {
                    $.plot($('#graph-{{ original.id }}'), (
                            JSON.parse('{{ original.get_jsoned_metrics|safe }}')
                            ), {
                        xaxis: {
                            mode: "time"
                        }
                    });
                });
            </script>
        {% endif %}
    </fieldset>
{% endblock %}
